/* Error: semicolons aren't allowed in the indented syntax.
 *     ,
 * 331 |     font-weight: bold;
 *     |                      ^
 *     '
 *   styles.sass 331:22  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: semicolons aren't allowed in the indented syntax.\a     \2577 \a 331 \2502      font-weight: bold;\a     \2502                       ^\a     \2575 \a   styles.sass 331:22  root stylesheet";
}
